<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h5>Ola <%= "#{@user.first_name} #{@user.last_name}" %></h5>
    Clique <%= link_to 'aqui', account_confirmation_url(token: @user.password_reset_token) %> para alterar a senha.
  </body>
</html>
