<h1>Resultado da busca</h1>

<table class="table">
  <thead>
    <tr>
      <th>Primeiro nome</th>
      <th>Segundo nome</th>
      <th>Sexo</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.gender.name %></td>
        <td><%= link_to 'Exibir perfil', user %></td>
      </tr>
    <% end %>
  </tbody>
</table>