<<<<<<< HEAD
<h1>Novo usuario</h1>

<%= render 'form' %>

<%= link_to 'Voltar', users_path %>
=======
<div class="row clearfix">
  <div class="col-md-4 column">
  </div>
  <div class="col-md-4 column text-center" style='border: 1px black solid'>
    <h1>New user</h1>
    <%= render 'form' %>
    <%= link_to 'Back', users_path %>
  </div>
  <div class="col-md-4 column">
  </div>
</div>
>>>>>>> 7965ebf3f450ae2b9cf01065c611391f09119149
