<div class="row clearfix">
  <div class="col-md-4 column">
  </div>
  <div class="col-md-4 column text-center" style='border: 1px black solid'>
    <h1>New user</h1>
    <%= render 'form' %>
    <%= link_to 'Back', users_path %>
  </div>
  <div class="col-md-4 column">
  </div>
</div>