<div class="row clearfix">
  <div class="col-md-4 column">
    <%= link_to image_tag("logo200x60.png"), root_path %><br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Seja você o chief!
  </div>
  <div class="col-md-3 column">
  </div>
  <div class="col-md-5 column"><br><br>
    <%= render "sessions/welcome_new", url: sessions_path %>
  </div>
</div>