  <div class="row clearfix">
    <div class="col-md-4 column">
      <h1>COOKBOOK</h1>
      O melhor da vida está aqui!
    </div>
    <div class="col-md-3 column">
    </div>
    <div class="col-md-5 column">
      <%= render "sessions/first_new", url: sessions_path %>
    </div>
  </div>