<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
      <img src="fagianisemfundo - SEM FUNDO.png" style=''>
      <h2>Olá Carlos Fagiani Junior,</h2>
      Bem vindo ao <img src="logo200x60.png" heigh="74" width="74">.
      Cadastro realizado com sucesso.<br/>
      O seu nome de usuário é: fagianijunior@hotmail.com.<br/>
      Clique <a href='index.html'>aqui</a> para confirmar o seu email.
      <br/><br/><br/><br/>
      A equipe <img src="logo200x60.png" heigh="74" width="74"> agredece o seu cadastro.
  </body>
</html>