<div class="row">
  <div class="col-xs-3 col-sm-3 col-md-3">
    <%= link_to image_tag("logo225x80.png"), root_path %>
  </div>
  <div class="col-xs-5 col-sm-5 col-md-5">
  </div>
  <div class="col-xs-4 col-sm-4 col-md-4">
    <% if signed_in? %>
      <%= link_to "Sair", signout_path, method: :delete, class: "pull-right" %>
    <% else %>
      <%= render "sessions/welcome_new", url: sessions_path %>
    <% end %>
  </div>
</div>