<div class="row">
  <div class="col-xs-5 col-sm-5 col-md-5">
    <%= link_to image_tag("logo225x80.png"), home_index_path %>
  </div>
  <div class="col-xs-7 col-sm-7 col-md-7">
    <%= link_to "Sair", signout_path, method: :delete, class: "pull-right" %>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12" style="background-image: url(<%= asset_path 'line.png' %>);">
    <div class="dropdown">
      <%= link_to image_tag(current_user.avatar, class: "img-circle", size: "64x64") + "<big>".html_safe + " #{current_user.first_name} #{current_user.last_name}" +"</big><span class='caret'></span>".html_safe, home_index_path, id: "dropdownMenu1", data: {toggle: "dropdown"}, class: 'dropdown-toggle' %>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="#">
            Action
          </a>
        </li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
        <li role="presentation" class="divider"></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
      </ul>
    </div>
  </div>
</div>